#root {
  color: black;
}

body {
  background-color: darkgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-box {
  border-radius: 5px;
  margin-right: 20px;
}

.search-text {
  font-style: italic;
  font-size: smaller;
}
